.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(66, 66, 245, 0.388);
}

.log{
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(66, 66, 245, 0.388);
}

.logo > h1{
    margin-left: 3rem;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}